.animals-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.heading {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.animals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.animal-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.animal-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.animal-card h3 {
    color: #555;
    font-size: 1.5rem;
    margin: 10px 0;
}

.animal-card p {
    color: #777;
    font-size: 1rem;
}

.animal-card audio,
.animal-card video {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
}